name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    # Готовый Action, который УЖЕ содержит всё необходимое
    - uses: ArtemSBulgakov/buildozer-action@v1.3.1
      with:
        workdir: '.'
        buildozer_version: 'stable'
        command: 'buildozer android debug'
    
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: myapp-apk
        path: bin/*.apk
